body{
    background-color: palegoldenrod;
}

#titulo{
    color: SaddleBrown;
}

#divUno{
    background-color: Peru;
    border: 2px;
}
#datosPersonales{
    font-style: italic;
    font-family: verdana;
}
#usuario{
    color: white;
}
#password{
    color: white;
}
#edad{
    color: white;
}


#divDos{
    background-color: Peru;
    border: 2px;
}
#otrosDatos{
    font-style: italic;
    font-family: verdana;
}
#estadoCivil{
    color: white;
}
#aficiones{
    color: white;
}
#comentarios{
    color: white;
}


#divTres{
    background-color: peru;
    border: 2px;
}
#mediosTecnologicos{
    font-style: italic;
    font-family: verdana;
}
#internet{
    color: white;
}
#SO{
    color: white;
}